@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset adicional */
html {
  scroll-behavior: smooth;
}

body {
  background-color: theme('colors.background');
  color: theme('colors.textPrimary');
  font-family: 'Inter', sans-serif; /* Configura la fuente directamente */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
