@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset adicional */
html {
  scroll-behavior: smooth;
}

body {
  background-color: theme('colors.background');
  color: theme('colors.textPrimary');
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.fixed {
  transition: all 0.3s ease;
}

.fixed:hover {
  transform: scale(1.1);
}
